* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #5f72bd, #9b23ea);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN CONTAINER */

.container {
    width: 480px;
    padding: 30px;
    border-radius: 18px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(14px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

/* BIG APP TITLE */

.appTitle {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    background: linear-gradient(135deg,#ffffff,#dcdcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

/* DIVIDER */

.divider {
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin: 15px 0 25px;
}

/* SECTION TITLE */

.sectionTitle {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 18px;
}

/* EVENT CARD */

.eventCard {
    background: white;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 18px;
    text-align: center;
    transition: all 0.25s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.eventCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.18);
}

.eventCard h3 {
    margin-bottom: 8px;
    color: #333;
    font-size: 20px;
}

.eventCard p {
    color: #555;
    font-size: 14px;
    margin: 4px 0;
}

/* BUTTON */

button {
    background: linear-gradient(135deg,#667eea,#764ba2);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    font-weight: 500;
    transition: all 0.25s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

/* JOIN BUTTON */

.joinBtn {
    margin-top: 12px;
}

/* LOGOUT BUTTON */

.logoutBtn {
    background: linear-gradient(135deg,#ff6a6a,#ff3b3b);
}

.logoutBtn:hover {
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

/* FULL WIDTH LOGOUT */

.fullLogout {
    margin-top: 15px;
}

.deleteBtn {
    background: linear-gradient(135deg,#ff6a6a,#ff3b3b);
    margin-top: 8px;
}


/* INPUTS */

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    outline: none;
}

/* FORM TITLE */

h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
